<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="./res/css/firststyle.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul class="nvg">
                    <li><a href="/user">home</a></li>
                    <li><a href="">novelties</a></li>
                    <li><a href="/userproducts">products</a></li>
                    <li><a href="/useraboutus">about us</a></li>
                    <li><a href="">contacts</a></li>
                </ul>
                <input type="image" id="accbtn" class="accimg" src="./res/img/AccountImg.svg"/>
            </nav>
        </header>
        <div class="line"></div>
        <div id="userProfile">
            <img id="profileImage" src="../res/img/pimg/<%=profileData.pimg %>" alt="Profile Picture">
            <div class="userinfo">
                <p><strong>username:</strong> <%= profileData.username %></p>
                <p><strong>email:</strong> <%= profileData.email %></p>
                <p><strong>sex:</strong> <%= profileData.sex %></p>
                <p><strong>date of birth:</strong> <%= profileData.bday %></p>
            </div>
            
        </div>
        <div id="side_bar" class="side_bar">
            <div id="bar" class="bar">
                <div class="menu">
                    <a href="/profile">profile</a>
                    <a href="/bag">my bag</a>
                    <a href="/orders">order history</a>
                    <a href="">gift cards</a>
                    <a href="">surprise box</a>
                    <a href="">determine my colortype</a>
                    <a href="">support</a>
                    <a href="/logout">exit</a>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="./js/adminhomepage.js"></script>
    </body>
</html>
